name: Publish

on:
  workflow_dispatch:
    inputs:
      semanticReleaseParams:
        description: semantic-release params (e.g. --dry-run)
        type: string

jobs:
  build:
    name: Build and publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          persist-credentials: false

      - uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: Install semantic-release extra plugins
        run: npm install --save-dev @semantic-release/changelog @semantic-release/git

      - name: Install
        run: yarn

      - name: Build
        run: yarn build

      - name: Publish
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.CERN_SIS_NPM }}
        run: HUSKY=0 npx semantic-release ${{ inputs.semanticReleaseParams }}
